Source: zerotier-one
Maintainer: NAStools <github@didyouexpect.us>
Section: net
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9), liblz4-dev, libnatpmp-dev, ruby-ronn, dh-systemd
Vcs-Git: git://github.com/didyouexpectthat/zerotierone
Vcs-Browser: https://github.com/didyouexpectthat/zerotierone
Homepage: https://www.zerotier.com

Package: nastools-zerotier-one
Architecture: any
Depends:  readynasos (>= 6.9.2), ${shlibs:Depends}, ${misc:Depends},
          libnatpmp1, iproute2, libstdc++6
Description: ZeroTier network virtualization service
 ZeroTier One lets you join ZeroTier virtual networks and
 have them appear as tun/tap ports on your system. See
 https://www.zerotier.com/ for instructions and
 documentation.
